/* Write your CSS here */
.each-filter {
  margin: 15px;
}

.filter-btn {
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: 'Roboto';
  font-size: 30px;
  background-color: transparent;
  border: 0px;
  color: #0f172a;
}

.filter-btn-active {
  color: #0284c7;
  border: 2px solid #0284c7;
  border-radius: 30px;
}
